html {
  font-size: 62.5%;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: black;
  height: 5rem;
}
.container1 {
  display: flex;
}
.logo {
  width: 130px;
  height: 40px;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}
.menu {
  width: 20px;
  height: 3rem;
  display: inline-block;
  margin-left: 31rem;
  padding-top: 1rem;
}
.seccion1 {
  padding-top: 9rem;
  padding-left: 2rem;
  background-color: rgb(126, 186, 235);
  height: 50rem;
  color: white;
  font-weight: bold;
}

.imagen-baile {
}

.seccion2 {
  background-color: white;
  min-width: 480px;
}
.articulo {
  display: flex;
  font-size: 1.5rem;
}
.fotoarticulos {
  width: 75px;
}
.tituloseccion1 {
  font-size: 6rem;
}
.textoseccion1 {
  font-size: 3rem;
  padding-top: 1rem;
}
.textopequeño1 {
  font-size: 1.5rem;
}

.boton {
  display: flex;
  justify-content: center;
}

.botonplanes {
  display: inline-block;
  background-color: green;
  width: 7rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding: 20px 30px;
  padding-left: auto;
  text-align: center;
  border-radius: 20px;
  font: small-caps;
}
.tituloseccion2 {
  font-weight: bold;
  font-size: 3rem;
  width: 30rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
