<footer class="footer">
  <section class="menu-lista">
    <nav class="nav-menu-footer">
      <ul class="ul-menu-lista">
        <li class="lista-item-1">Legal</li>
        <li class="lista-item-2">Cookies</li>
        <li class="lista-item-3">Información sobre los anuncios</li>
      </ul>
    </nav>
  </section>
  <section class="lang-copy">
    <p class="p-lang">España</p>
    <p class="text-copy">&copy; 2019 Spotify AB</p>

    <img class="img-lang" src="./assets/images/es.svg" alt="Bandera de España" />
  </section>
</footer>