<footer class="footer">
  <section class="footer__lista">
    <nav class="nav">
      <ul class="nav__lista">
        <li class="nav__lista--item">Legal</li>
        <li class="nav__lista--item">Cookies</li>
        <li class="nav__lista--item">Información sobre los anuncios</li>
      </ul>
    </nav>
  </section>
  <section class="footer__langcopy">
    <p class="footer__langcopy--lang">España</p>
    <p class="footer__langcopy--copy">&copy; 2019 Spotify AB</p>

    <img
      class="footer__langcopy--img"
      src="./assets/images/es.svg"
      alt="Bandera de España"
    />
  </section>
</footer>
