<header class="header">
  <img class="header__img--logo" src="./assets/images/logo.png" alt="logo" />
  <img class="header__img--menu" src="./assets/images/menu-icon.png" />
  <nav class="menus">
    <ul class="menu__lista">
      <li><a class="menu__lista--link" href=""> Premium </a></li>
      <li><a class="menu__lista--link" href="">Ayuda</a></li>
      <li><a class="menu__lista--link" href="">Descargar</a></li>
      <li class="menu__lista--division">|</li>
      <li><a class="menu__lista--link" href="">Registrarse</a></li>
      <li><a class="menu__lista--link" href="">Iniciar sesión</a></li>
    </ul>
  </nav>
</header>
