<section class="seccion2">
    <div class="tituloseccion2-1">
        <p class="tituloseccion2">¿Por qué pasarte a Premium?</p>
    </div>
    <div class="containerarticulos">
      <include src="./benefit.html" title="Descarga música." description="Llévala siempre contigo." img="./assets/images/benefit-1.png"></include>
      <include src="./benefit.html" title="Sin anuncios." description="Disfruta de música sin interrupciones." img="./assets/images/benefit-2.png"></include>
      <include src="./benefit.html" title="Escucha lo que quieras." description="Incluso en el móvil." img="./assets/images/benefit-3.png"></include>
      <include src="./benefit.html" title="Salta todas las canciones que quieras." description="Simplemente dale a siguiente." img="./assets/images/benefit-4.png"></include>
    </div>
  </section>