<section class="seccion1">
    <p class="tituloseccion1">Prueba Premium gratis 3 meses</p>
    <p class="textoseccion1">
      Escucha millones de canciones sin anuncios, a la carta y sin conexión.
    </p>
    <div class="boton">
      <span class="botonplanes"
        ><a class="textoboton" href="">ver planes</a></span
      >
    </div>
    <p class="textopequeño1">
      Rigen términos y condiciones. Los tres meses gratis no están
      disponibles para usuarios que ya hayan probado Premium
    </p>
  </section>