<section class="seccion1">
  <p class="seccion1__title">Prueba Premium gratis 3 meses</p>
  <p class="seccion1__text">
    Escucha millones de canciones sin anuncios, a la carta y sin conexión.
  </p>
  <div class="button">
    <span class="button__span"
      ><a class="button__link" href="">ver planes</a></span
    >
  </div>
  <p class="seccion1__subtitle">
    Rigen términos y condiciones. Los tres meses gratis no están disponibles
    para usuarios que ya hayan probado Premium
  </p>
</section>
