.seccion2 {
    background-color: var(--colorprimario);
    height: 60rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    width: 100%;
    &__title {
            font-weight: $pesoletra;
                font-size: 3rem;
                width: 30rem;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                padding-top: 4rem;
                padding-bottom: 4rem;
    }
    &__articulo{
        display: flex;
        width: 85%;
        justify-content: center;
        align-items: center;
        &--img {
            width: 75px;
            height: 75px;
        }
    }
}
.descripcion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
    &--title {
        font-weight: $pesoletra;
        margin: 1rem;
    }
    &--texto {
        
    }
}