.seccion1 {
    background-color: $colorfondo1;
    height: 50vh;
    padding-top: 14rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    color: $colorprimario;
    font-weight: $pesoletra;
    &__title {
        font-size: 3.5rem;
            width: 100%;
            margin-bottom: 2rem;

    }
    &__text {
        width: 100%;
        font-size: 1.5rem;
        padding-top: 1rem;
    }

    &__subtitle {
        font-size: 0.7rem;
        width: 100%;
        padding-bottom: 2rem;
    }

  .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3 auto;
      &__span {
        font-size: 1.8rem;
            display: inline-block;
            background-color: green;
            width: 80%;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            padding: 15px 30px;
            text-align: center;
            border-radius: 20px;
            text-transform: uppercase;
      }
      &__link {
        color: $colorprimario;
            text-decoration: none;
            font-size: 1.7rem;
      }
  }