/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/
html {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  :root {
    --colorprimario: white;
    --colorsecundario: black;
    --colorfondo1: rgb(126, 186, 235);
    --pesoletra: bold;
  }
  body {
    width: 100vw;
  }
  .container1 {
    background-color: var(--colorsecundario);
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    /**width: 100%;**/
    /** Al poner el ancho para que la barra fija ocupe toda la ventana se me va el icono de menu **/
  }
  .logo {
    width: 130px;
    height: 40px;
  }
  .menu {
    width: 3rem;
  }
  .menus {
    display: none;
  }
  
  .enlace {
    text-decoration: none;
    color: var(--colorprimario);
    font-weight: bold;
  }
  
  .seccion1 {
    background-color: var(--colorfondo1);
    height: 50vh;
    padding-top: 14rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    color: white;
    font-weight: var(--pesoletra);
    /**background-image: url(./img/premium_dancer.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;**/
    /**margin-top: 6rem;**/
  }
  
  /** En esta seccion hay que mirar la parte azul orque e tama침o del titulo estaba demasiado grande y al bajarlo se descoloc칩 **/
  
  .seccion2 {
    background-color: var(--colorprimario);
    height: 60rem;
    display: block;
    width: 100%;
  }
  .containerarticulos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 2rem;
  }
  .fotoarticulos {
    width: 75px;
  }
  .tituloseccion1 {
    font-size: 3.5rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .textoseccion1 {
    width: 100%;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .textopeque침o1 {
    font-size: 0.7rem;
    width: 100%;
    padding-bottom: 2rem;
  }
  .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3 auto;
  }
  .botonplanes {
    font-size: 1.8rem;
    display: inline-block;
    background-color: green;
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 15px 30px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
  }
  .textoboton {
    text-decoration: none;
    font-size: 1.7rem;
  }
  .botonplanes a {
    color: white;
  }
  .tituloseccion2 {
    font-weight: var(--pesoletra);
    font-size: 3rem;
    width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .articulo {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
  article div {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
  }
  .pp-strong-1,
  .pp-strong-2,
  .pp-strong-3,
  .pp-strong-4 {
    font-weight: var(--pesoletra);
  }
  div p {
    margin: 1rem;
  }
  article img {
    width: 75px;
    height: 75px;
  }
  .footer {
    background-color: var(--colorsecundario);
    color: var(--colorprimario);
    font-weight: var(--pesoletra);
    display: flex;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
  }
  .menu-lista {
    display: flex;
    width: 50%;
    align-self: flex-end;
  }
  .nav-menu-footer {
    width: 100%;
  }
  .ul-menu-lista {
    display: flex;
    gap: 3%;
  }
  .lang-copy {
    display: flex;
  }
  .img-lang {
    width: 50%;
  }
  .texto {
    display: flex;
    flex-direction: column;
  }
  .pp-ben {
    font-size: 1rem;
  }
  .a-i-footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer img {
    width: 02rem;
  }
  footer a {
    color: var(--colorprimario);
    display: block;
    padding: 1rem;
  }
  .logoespa침a {
    display: flex;
    flex-direction: row;
    align-items: right;
  }
  .abajofooter {
    display: flex;
    justify-content: space-between;
  }
  .a-i-footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer img {
    width: 02rem;
  } 