@import 'core/reset';
@import './core/variables';
@import 'layout/cabecera';
@import 'layout/seccionazul';
@import 'layout/seccionblanca';
@import 'layout/footer';

// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
  }

  body {
    width: 100vw;
  }

  
  
  
  